nav {
    display: flex;
    background-color: rgb(250,34,0);
    justify-content: space-evenly;
}

.links{
    /* border: 1px solid white; */
    width: 35%;
}

a:hover{
    cursor: pointer;
}

.active {
    color: white;
    background-color: rgb(121, 0, 0);
  }

