*,
*::before,
*::after {
  box-sizing: border-box;
}
a {
  text-decoration: underline;
  color: inherit;
  cursor: pointer;
}
figure {
  margin: 0;
}
input::-moz-focus-inner {
  border: 0;
  padding: 0;
  margin: 0;
}
ul,
ol,
dd,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-size: inherit;
  font-weight: inherit;
}
p {
  margin: 0;
}
cite {
  font-style: normal;
}
fieldset {
  border-width: 0;
  padding: 0;
  margin: 0;
}
/* CSS Reset code provided by Elad Shechter */

.home {
  height: 100vh;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr 5fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  font-family: Cambria;
}

.search {
  grid-area: 1 / 1 / 2 / 3;
  display: flex;
  align-items: center;
  justify-content: center;
}

input {
  height: 40px;
  width: 230%;
  font-size: 20px;
  margin-left: -70%;
}

.submitBtn {
  font-size: 15px;
  background-color: red;
  color: white;
  border-radius: 30px;
  margin-left: 25%;
}

.searchContainer {
  grid-area: 2 / 1 / 3 / 3;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.searchContainer > div {
  flex: 0 50%;
  /*demo*/
  /* border: red solid;
  box-sizing:border-box */
}
