
h1, h2, h3, h4, h5, h6, p, a, ul, ol, li, small {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  background: transparent; }
  
  .App{
    text-align: center;
  }
  body {
    width: 100%;
    max-width: 960px;
    margin: 0 auto; }

  .nav {
    text-align: center;
    padding: 8px 0;
    display: block;
    width: 100%;
    background-color: red;
    color: white;
   }

  .nav ul {
    width: 100%; 
  
  }
  button{
    background-color:red;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }
  input{
  
    color: white;
    padding: 15px 28px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;

  }