

.divHomeForm {
  margin-left: 200px;
  margin-top: 60px;
  justify-content: center;
  width: 133%;
  /* margin: 175px; */
  ;
}

.searchHome {
  width: 50%;
  height: 60px;
  padding-left: 20px;
  border-radius: 5px;
  font-size: 16px;
}

.homeButton {
  width: 150px;
  height: 60px;
  background-color: #DC3545;
  border-radius: 10px;
  color: white;
  font-size: 16px;
  
}
.label {
  font-size: 30px;;
}

.homeErr{
  margin: 20px;
}

.resultHome{
  
  padding-left: 20px;
  border-radius: 5px;
  
}
